///////////////////////////////////////////////////////////////////////////////////////////////////
// General styles
///////////////////////////////////////////////////////////////////////////////////////////////////

body {
  font-family: $main-font-family;
  font-size: $main-font-size;
  font-weight: $main-font-weight;
}
