///////////////////////////////////////////////////////////////////////////////////////////////////
// Colors variables
///////////////////////////////////////////////////////////////////////////////////////////////////

$white: #FFF;
$black: #131E25;
$greensea: #5CB85C;


///////////////////////////////////////////////////////////////////////////////////////////////////
// Font variables
///////////////////////////////////////////////////////////////////////////////////////////////////

$main-font-family: "Lato", "Arial", sans-serif;
$main-font-size: 14px;
$main-font-weight: 400;


///////////////////////////////////////////////////////////////////////////////////////////////////
// Other variables
///////////////////////////////////////////////////////////////////////////////////////////////////
