###############################################################################
# Ignore this files
###############################################################################

*~
.*
*.log

###############################################################################
# Ignore this directories
###############################################################################

node_modules
coverage

###############################################################################
# Accept this files
###############################################################################

!.editorconfig
!.gitignore
!.jscsrc
!.jshintrc
!.nvmrc
!.gitattributes
!.foreverignore
