###############################################################################
# Ignore this files
###############################################################################

*~
.*
*.log

###############################################################################
# Ignore this directories
###############################################################################

node_modules
coverage
client/build
client/bower_components
client/tmp

###############################################################################
# Accept this files
###############################################################################

!.editorconfig
!.gitignore
!.jscsrc
!.jshintrc
!.nvmrc
!.gitattributes
!.bowerrc
!client/.scss-lint.yml
