<div class="page page-family">

    <!-- page content -->
    <div class="pagecontent">

        <div class="add-nav">

            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-md-12">

                    <!-- tile -->
                    <section class="tile">

                        <!-- tile header -->
                        <div class="tile-header dvd dvd-btm">
                            <h1 class="custom-font">{{vm.capitalizeFirstLetter(vm.action)}} <strong>Família</strong></h1>
                        </div>
                        <!-- /tile header -->

                        <!-- tile body -->
                        <div class="tile-body">

                            <form class="form-horizontal" role="form" name="vm.form">

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">Nome da Esposa: <span
                                        class="text-lightred text-md">*</span></label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name" name="name"
                                               placeholder="Nome completo" ng-model="vm.family.name" required
                                               ng-disabled="vm.action === 'visualizar'">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="cpf" class="col-sm-2 control-label">CPF da Esposa: <span
                                        class="text-lightred text-md">*</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="cpf" name="cpf"
                                               placeholder="CPF da esposa" ng-model="vm.family.cpf" required
                                               ng-disabled="vm.action === 'visualizar'" ui-br-cpf-mask>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="neighborhood" class="col-sm-2 control-label">Bairro:</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="neighborhood"
                                               placeholder="Bairro" ng-model="vm.family.neighborhood"
                                               ng-disabled="vm.action === 'visualizar'">
                                    </div>
                                </div>
                                <hr class="line-dashed line-full"/>
                            </form>

                            <div class="row">
                                <span class="controls pull-right">
                                      <a ui-sref="app.families.list" class="btn btn-ef btn-ef-1 btn-ef-1-default btn-ef-1a btn-rounded-20 mr-5"
                                         uib-tooltip="Voltar"><i class="fa fa-arrow-left"></i></a>
                                      <a href="" ng-click="vm.editFamily()" class="btn btn-ef btn-ef-1 btn-ef-1-orange btn-ef-1a btn-rounded-20 mr-5"
                                         uib-tooltip="Editar" ng-hide="vm.action === 'cadastrar'"><i class="fa fa-pencil"></i></a>
                                      <a href="" ng-click="vm.saveFamily(vm.family)" class="btn btn-ef btn-ef-1 btn-ef-1-success btn-ef-1a btn-rounded-20 mr-5"
                                         uib-tooltip="Salvar"><i class="fa fa-check"></i></a>
                                </span>
                            </div>
                        </div>
                        <!-- /tile body -->

                    </section>
                    <!-- /tile -->


                </div>
                <!-- /col -->

            </div>
            <!-- /row -->


        </div>


    </div>
    <!-- /page content -->


</div>
